In [1]:
import pandas as pd

In [17]:
pd.read_csv('../user_item.csv')['Twelve Monkeys (a.k.a. 12 Monkeys) ']

0     4.0
1     3.0
2     NaN
3     4.0
4     NaN
5     4.0
6     3.5
7     5.0
8     5.0
9     4.0
10    5.0
11    3.5
12    5.0
13    5.0
14    5.0
15    4.0
16    3.5
17    2.0
18    4.0
19    4.0
20    5.0
21    3.5
22    5.0
23    3.0
24    3.0
25    4.5
26    3.5
Name: Twelve Monkeys (a.k.a. 12 Monkeys) , dtype: float64